.title-banner {
    background-color: #dceef7;
    /* Matching the navbar color */
    text-align: center;
    padding: 20px 0;
}

.footer-banner {
    background-color: #dceef7;
    /* Matching the navbar color */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}